addons:
    apt:
        packages:
        - dos2unix
env:
    global:
    -   secure: n/9Z/x9KAsPS7UOAYoDNXp39Cn0J3qAJ2ywuPxGFu6YKboa6x3LJRLhi8eDiR2gbmLYLBv7JjHWDLrT1kwpJTPQx0+Sm4Mk/i/KedyTPuPO4gF+q57jnZhfKx/BczD2A42gCHOpM8AUYenuY5ZJQYGCcIOF9G5042mjhy9AQ5/MGwpbh7kE2wtw07RnaIDvrzm21PBNXOtwlRoWTf51QOyOnU2mNyQp+im4TqCc5I6Q88vVOuaUGvuMOPir7yHrhuMrziNJNDP/+GKxRChqOUsP1XRGUUb3hLTbUxgCz2paUqic/ipVx2wT6OBKTbjl6Ow7D4AJ+EC2TWgIv0H2UYWLPSnLxIBS5UAz5umVZldU7av2ZQ1Oix0dwOtYcmucvEO0WYLKqEic/JL2lbLGntMyaYXVn4gc8/S5Xp0FrKFPfkOk2bh6+r+Tw5OVaHxlmczsWVJfXU7v0EhybOT8N1JSSE4V8ue96UoIq4bv19qy3XbZT/2Ja1wa3eb1dh/lm5YJTCvGcIQQOyIsOKp4wGdWujZoHf04BqjCyxX5JIpB5UHzf3HVevSHra8UjsJUfVVDaoZLy186r+Zz5ZEhgCqQhfCaCc/8MC5+beMMEjNhqFTahwD8PuCdzaMB+Eirp+DMyKWAPL+bwJDm7YZjq7+sLhdMXPUEzUaSNLupR+Dw=
    -   GIT_NAME: Travis CI
    -   GIT_EMAIL: dead-hosts@funilrys.com
    -   TRAVIS_REPO_SLUG: dead-hosts/hpHosts---Ad-and-Tracking_web_hosts-file.net
    -   GIT_BRANCH: master
    -   ADMIN_LOCATION: https://raw.githubusercontent.com/dead-hosts/repository-structure/master/admin.py
    matrix:
    - PYTHON_VERSION="3.7.3"
install:
- export PATH="${HOME}/miniconda/bin:${PATH}"
- wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
- bash miniconda.sh -b -p ${HOME}/miniconda
- hash -r
- conda config --set always_yes yes --set changeps1 no
- conda update -q conda
- conda create -q -n launcher-environment python="${PYTHON_VERSION}"
- source activate launcher-environment
- python -VV
- pip --version
- pip install dead-hosts-launcher
- rm miniconda.sh
language: generic
notifications:
    email:
        on_failure: always
        on_success: never
        recipients:
        - dead-hosts@funilrys.com
os:
- linux
script:
- dead_hosts_launcher --version
- dead_hosts_launcher
sudo: required
